body {
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Window button */
.window-button {
  height: 36px;
  width: 48px;
  border: none;
  transition: 0.15s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.window-button:hover {
  background-color: rgb(231, 230, 230);
}

.window-button.error:hover {
  background-color: rgb(170, 3, 3);
  color: white;
}

/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f6e9e5;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #f6e9e5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.4, #964b00),
      color-stop(0.7, #c86600),
      color-stop(0.8, #e7ae89));
}

textarea::-webkit-scrollbar {
  width: 1px;
}

/* Main background */

#browser {
  background-size: 100% 100%;
}

/* Sidebar */

.sidebar-button {
  height: 36px;
  width: 36px;
  border: none;
  transition: 0.15s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  transition: 0.2s linear;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: rgb(231, 230, 230);
}

/* Bread crumbs */

.breadcrumbs {
  cursor: pointer;
}

/* Template */

#empty-template {
  background-image: url("../assets/stack.png");
  height: 100%;
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.empty-template-wrapper {
  padding: 20px;
}

.empty-template-wrapper>p {
  margin-top: 20px;
  margin-bottom: 20px;
}